/* Styles globaux pour l'application */

/* Styles pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff; /* Couleur primaire pour les titres */
  font-family: "Arial", sans-serif;
}

/* Styles pour les liens */
a {
  color: #1976d2; /* Couleur primaire */
  text-decoration: none;
}

a:hover {
  color: #6d2e46; /* Couleur d'accentuation */
}

/* Boutons standards */
button,
.v-btn {
  font-family: "Arial", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.v-btn__content {
  background: linear-gradient(0deg, #0098f0, #00f2c3);
  -webkit-background-clip : text;
}

button:hover,
.v-btn:hover {
  background-color: #27293d; /* Couleur primaire foncée pour l'effet hover */
}

.secondary-button {
  background: linear-gradient(0deg, #0098f0, #00f2c3);
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s;
}

.secondary-button:hover {
  transform: scale(1.1); /* Légère augmentation de taille au survol */
  background: linear-gradient(0deg, #186d9f, #1e9880); /* Dark Pink */
}
/* Styles pour les champs de formulaire */
input,
select {
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}

/* Messages d'erreur */
.error-message {
  color: red;
  font-weight: bold;
}

/* Navigation latérale (Sidebar) */
.sidebar-container .v-navigation-drawer {
  background: linear-gradient(#cdc1b5, #e1d7cd); /* Dégradé pour le fond de la sidebar */
  border-right: 0px solid #0b4678;
}

.sidebar-item-active .v-list-item-title {
  color: #a26769; /* Couleur secondaire pour l'élément actif */
}

/* Titres des items de la sidebar */
.v-list-item-title {
  color: #0b4678; /* Bleu foncé */
  font-weight: bold;
  font-size: 16px;
}

.v-list-item:hover .v-list-item-title,
.v-list-item:focus .v-list-item-title {
  color: #6d2e46; /* Accent */
}

/* Alignement et marges dans les sections */
.section {
  margin: 20px 0;
  text-align: center;
}

.section h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

/* Amélioration de la mise en page */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.v-col {
  padding: 0;
}

/* Footer (pied de page) */
footer {
  background-color: #0b4678;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9em;
}